body{
	color: #515151;
}

.main-area h1{
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
}

.submit-btn{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding: 5px 20px;
	background: -moz-linear-gradient(
		top,
		#1f8692 0%,
		#0093a6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#1f8692),
		to(#0093a6));
	border-radius: 21px;
	-moz-border-radius: 21px;
	-webkit-border-radius: 21px;
	border: 1px solid #1f8694;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(0,138,153,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(0,138,153,0.7);
	text-shadow:
		0px -1px 1px rgba(0,126,140,1),
		0px 1px 0px rgba(255,255,255,0.3);	
}
form h2{
	margin: 0 0 20px 0;
	font-size: 18px;
	line-height: inherit;
}

input, textarea, select, .uneditable-input {
	border-color: #808080;
}

a{
	color: #008898;
}
a:hover{
	color: #02727f;
}

.header{
	position: relative;
	padding-top: 10px;
	background: #333;
	height: 30px;
}
	.header h1{
		padding: 5px;
		font-size: 21px;
		line-height: inherit;
		float: left;
	}
	.header a{
		color: #FFF;
	}
	.header a:hover{
		text-decoration: none;
	}

.footer{
	background: #515151;
	color: #FFF;
	padding: 20px 10px;
	margin-left: 0;
}
	.footer .xero{
		margin-left: 0px;
	}
	.footer h3{
		margin-top: 0;
		font-size: 14px;
		line-height: 30px;
		color: #FFF;
	}
	.footer p{
		margin: 0 0 5px 0;
		line-height: 15px;
	}
	.footer img{
		float: left;
		margin-right: 10px;
	}
	.footer a{
		color: #01c8e0;
		font-weight: bold;
	}

.masthead{
	padding: 120px 25px 0;
	background: url(images/main_banner.jpg) center left no-repeat;
}
	.masthead h2{
		color: #FFF;
		padding: 20px;
		text-align: right;
		text-shadow: 3px 3px 6px #333;
		font-weight: bold;
		font-size: 30px;
	font-family: 'Droid Sans', sans-serif;
	}

.main-area{
	margin-bottom: 20px;
}

.main-nav{
	float: right;
}
	.main-nav li {
		display: block;
		float: left;
		padding: 7px 15px;
		font-size: 14px;
	}
.gradbar{
	height: 20px;
	background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 85%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 85%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(255,255,255)),
		color-stop(0.85, rgb(240,240,240))
	);
	margin-bottonm: 10px;
}

.home-blocks img{
	float: left;
	margin: 0 20px 20px;
	border: 1px solid #929292;
}
.home-blocks h3{
	font-size: 13px;
	margin: 5px 0 10px 0;
	line-height: inherit;
}
.home-blocks p{
	margin: 0;
	line-height: 13px;
}

.padded{
	padding-left: 20px;
	padding-right: 50px;
}
.main-area p{
	margin-bottom: 15px;
}
